
body {
	padding: 24px;
}

.nav {
	padding: 0px;
}

.nav-link {
	font-weight: bold;
}

.breadcrumb {
	border: 1px solid #ddd;
	background-color: rgba(0,0,0,0.03);
}

.content {
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.nexthole {
	margin-left:auto;
	border-radius:6px;
}

.nexthole:hover {
	background-color:black;
	color:white;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    text-align: Center;
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    background-color: #34A7C1; color: #FFFFFF;
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Char";
}

.onoffswitch-inner:after {
    content: "Int";
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
