

body {
	padding: 24px;
}

.nav {
	padding: 0px;
}

.nav-link {
	font-weight: bold;
}

.breadcrumb {
	border: 1px solid #ddd;
	background-color: rgba(0,0,0,0.03);
}

.content {
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.nexthole {
	margin-left:auto;
	border-radius:6px;
}

.nexthole:hover {
	background-color:black;
	color:white;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    text-align: Center;
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    background-color: #34A7C1; color: #FFFFFF;
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Char";
}

.onoffswitch-inner:after {
    content: "Int";
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.text{
	text-align:center;
	margin-top=0;
}
#leaderboard > div > h5 {
	float:left;
	margin-right:15px;
	background-color:lightblue;
	border: solid black 2px;
	border-bottom: solid black 0px;
	padding:1rem 1rem .25rem 1rem;
	border-radius:8px 8px 0 0;
	margin-bottom:0;
}

#leaderboard > div > h5:hover {
	padding: 1rem;

}

#leaderboard > div{
	height: 3rem;
	display:flex;
	align-items:flex-end;
}

#leaderboard > div > h5.current, #leaderboard > div > h5.current:hover{
	background-color:#007bff;
	color:white;
	padding:1rem 1rem .5rem 1rem;
		
}

.solved {
	background-color:lightgreen;
}

.notyet{
	font-size:0;
}

.congrats{
	background-color:#ffff80 !important;
	font-weight:bold;
}

tr.congrats > td {
	background-color:#ffff80 !important;
}

